.Event {
  margin: 30px;
  text-align: left;
  border-radius: 6px;
  padding-top: 2px;
  border: solid 1px #233b6e;
  box-shadow: 10px;
}

h5 {
  padding-left: 22px;
}

.Event button {
  background-color: #5a92af;
  border: none;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
}
